**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/*.jpeg
**/*.tmp.*
tmp.*
clean_pc.sh

cilpy.egg-info
site/
build/
dist/

docs/dev/ccga_benchmark_exa.md
docs/dev/ccls_changes.md
docs/dev/ccls.md

.claude
